DATABASE_NAME=db_name
DATABASE_USER=username
DATABASE_PASSWORD=pass1
SECRET_KEY=django_secret_key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_HOST=dbpython manage.py migrate
DATABASE_PORT=5432 // for postgres container
CORS_ALLOWED_ORIGINS=http://localhost:5173 //for react container